@value whiteColor, redColor, whiteSmokeColor, greyColor from '../../common/colors.css';
@value tabletSize, mobileSize from "../../common/size.css";

.brand {
  padding-top: 150px;
}

.brand .content {
  padding: 40px 0 86px;
}

.brand .visual {
  position: relative;
  height: 720px;
  background: center / cover no-repeat url("../../assets/img/main/brand/brand.png");
}

.brand .visual-text {
  position: absolute;
  top: 50%;
  font-size: 6rem;
  font-weight: 600;
  color: whiteColor;
  line-height: 1.25;
  text-transform: uppercase;
  transform: translateY(-50%);
}

.brands {
  padding-top: 90px;
  padding-bottom: 80px;
  background-color: whiteSmokeColor;
}

.brand-list {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 86px;
  padding: 0 31px;
}

.brand-list-item {
  position: relative;
  width: 210px;
  padding-top: 12px;
}

.brand-list-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: redColor;
}

.brands .category {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.3;
  text-transform: uppercase;
  text-align: center;
}

.brands figure {
  position: relative;
  display: flex;
  margin-top: 37px;
  flex-direction: column;
  align-items: center;
}

.brands figure img {
  width: 180px;
  height: 180px;
  z-index: 2;
}

.brands figure::before {
  content: "";
  position: absolute;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background-color: whiteColor;
  z-index: 1;
}

.brands figcaption {
  margin-top: 25px;
  font-size: 1.375rem;
  line-height: 1.6;
  color: greyColor;
  text-align: center;
}

@media screen and (max-width: tabletSize) {
  .brand {
    padding-top: 70px;
  }

  .brand .content {
    margin-top: -23px;
    padding: 0;
  }

  .brand .visual {
    height: 360px;
  }

  .brand .visual-text {
    padding-left: 50px;
  }

  .brands {
    padding-top: 50px;
    padding-bottom: 55px;
  }

  .brand-list {
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 720px;
    margin: 0 auto;
    padding: 0 25px;
    margin-bottom: 45px;
  }

  .brand-list-item {
    flex-basis: 50%;
  }

  .brand-list-item::before {
    left: 50%;
    width: 50%;
    transform: translateX(-50%);
  }

  .brand-list-item:nth-child(n + 3) {
    margin-top: 30px;
  }

  .brands figure {
    margin-top: 20px;
  }

  .brands figure img {
    width: 150px;
    height: 150px;
  }

  .brands figure::before {
    width: 150px;
    height: 150px;
  }

  .brands figcaption {
    margin-top: 18px;
  }
}

@media screen and (max-width: mobileSize) {
  .brand .content {
    margin-top: -12px;
  }

  .brand-list {
    max-width: 540px;
  }

  .brands figure img {
    width: 125px;
    height: 125px;
  }

  .brands figure::before {
    width: 125px;
    height: 125px;
  }

  .brands .category {
    font-size: 14px;
  }
}
