@value whiteColor,lightGreyColor,lightGreenColor,darkSilverColor, greyColor, davyGreyColor, charcolColor from '../../common/colors.css';
@value tabletSize, mobileSize from '../../common/size.css';

.etc {
  color: whiteColor;
  background-color: davyGreyColor;
}

.etc .content {
  max-width: 1200px;
  margin: 0 auto;
}

.etc-list {
  display: grid;
  grid-template-columns: repeat(3, 33.33%);
  gap: 1px;
  background-color: darkSilverColor;
}

.etc-item {
  position: relative;
  background-color: davyGreyColor;
  padding: 50px 30px;
}

.etc-item a {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.etc-item a > dl {
  height: 100%;
}
.stock {
  margin-top: 20px;
}

.stock dt {
  font-size: 18px;
  line-height: 1.3;
  color: lightGreyColor;
}

.stock dd {
  font-size: 2.875rem;
  font-weight: 600;
  line-height: 1.1;
}

.volume {
  position: absolute;
  bottom: 75px;
  display: flex;
  width: 100%;
  font-size: 18px;
  line-height: 1.3;
}

.volume li {
  position: relative;
}

.volume li:not(:first-child) {
  margin-left: 27px;
}

.volume li:not(:first-child)::before {
  content: "";
  position: absolute;
  top: 6px;
  left: -15px;
  width: 1px;
  height: 14px;
  background-color: darkSilverColor;
}

.volume li > span:last-child {
  margin-left: 14px;
}

.volume-down {
  position: relative;
  padding-left: 14px;
}

.volume-down::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 6px;
  width: 0;
  height: 0;
  border-width: 6px 4px 0 4px;
  border-style: solid;
  border-color: lightGreenColor transparent transparent transparent;
}

.rate::after {
  content: "%";
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 90px;
  margin: 0 auto;
  border-radius: 50%;
  font-size: 2rem;
  background-color: charcolColor;
}

.desc {
  display: flex;
  flex-direction: column;
  margin-top: 14px;
  text-align: center;
  word-break: keep-all;
}

.desc strong {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.3;
  text-transform: uppercase;
}

.desc span {
  margin-top: 6px;
  font-size: 16px;
  color: lightGreyColor;
  line-height: 1.6;
}

@media screen and (max-width: tabletSize) {
  .etc-item {
    position: relative;
    background-color: davyGreyColor;
    padding: 20px;
  }

  .volume {
    flex-direction: column;
    bottom: 30px;
    font-size: 16px;
  }

  .stock {
    margin-top: 35px;
  }

  .volume li:not(:first-child) {
    margin-top: 5px;
    margin-left: 0;
  }

  .volume li:not(:first-child)::before {
    display: none;
  }

  .desc span {
    font-size: 14px;
  }
}

@media screen and (max-width: mobileSize) {
  .etc .content {
    max-width: 540px;
  }

  .etc-item a {
    flex-direction: row;
  }

  .etc-item .stock {
    flex-direction: column;
    align-items: flex-start;
    margin: 0 30px 0 0;
  }

  .stock dt {
    font-size: 14px;
  }

  .etc-list {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 120px);
  }
  .etc-item > a > dl {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .volume {
    position: static;
    justify-content: center;
  }

  .icon {
    width: 65px;
    height: 65px;
    margin: 0;
    margin-right: 20px;
  }

  .desc {
    flex-direction: column;
    margin-top: 0;
    text-align: start;
  }

  .desc strong {
    font-size: 16px;
  }

  .desc span {
    font-size: 14px;
  }
}
