@value whiteColor from '../../common/colors.css';

.slider-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.background-0 {
  background: center / cover no-repeat url("../../assets/img/main/home_1.png");
}

.background-1 {
  background: center / cover no-repeat url("../../assets/img/main/home_2.png");
}

.background-2 {
  background: center / cover no-repeat url("../../assets/img/main/home_3.png");
}

.background-3 {
  background: center / cover no-repeat url("../../assets/img/main/home_4.png");
}

.background-4 {
  background: center / cover no-repeat url("../../assets/img/main/home_5.jpg");
}

.content {
  position: absolute;
  max-width: 545px;
  margin-top: 34px;
  color: whiteColor;
  line-height: 1.18;
  text-align: center;
  word-break: keep-all;
}

.content p {
  font-size: 4.75rem;
  font-weight: 600;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 500ms 300ms cubic-bezier(0.215, 0.61, 0.355, 1), transform 500ms 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.active .content p {
  opacity: 1;
  transform: translate(0);
}

.content p > span {
  display: block;
  margin-top: 25px;
  font-size: 1.875rem;
}
