.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  transition: transform 120ms ease-in-out;
}

.unfixed {
  position: absolute;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}
