.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  transition: transform 120ms ease-in-out;
}

.unfixed {
  transform: translateY(-126px);
}

.unfixed.hide-unb {
  transform: translateY(-45px);
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}
