.main {
  min-height: 100vh;
}

article > h2 {
  position: relative;
  font-size: 3.875rem;
  font-weight: 600;
  line-height: 1.32;
  text-align: center;
  text-transform: uppercase;
  z-index: 8;
}
