@value redColor, whiteColor from '../../common/colors.css';
@value tabletSize from '../../common/size.css';

.button a {
  display: flex;
  justify-content: center;
  width: 270px;
  height: 60px;
  margin: 0 auto;
  border-radius: 30px;
  border: 1px solid redColor;
  padding: 18px 32px;
  font-size: 17px;
  font-weight: 600;
  color: redColor;
  line-height: 1.4;
  background-color: transparent;
  transition: 0.2s ease-in-out;
}

.button a:hover {
  color: whiteColor;
  background-color: redColor;
}

@media screen and (max-width: tabletSize) {
  .button a {
    max-width: 150px;
    height: 37px;
    padding: 8px 26px 7px;
    border-radius: 18.5px;
    font-size: 15px;
    line-height: 1.2;
  }
}
