@value blackColor,whiteColor,redColor from '../../common/colors.css';

.gnb {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  padding: 0 20px;
  background-color: transparent;
  transition: 0.2s ease-in;
}

.open-search.gnb {
  background-color: whiteColor;
}

.gnb:hover {
  background-color: whiteColor;
}

.gnb:hover * {
  color: blackColor;
}

.left-container {
  padding-left: 20px;
}

.logo-title {
  fill: whiteColor;
}

.gnb:hover .logo-title {
  fill: blackColor;
}

.logo-fill {
  fill: redColor;
}

.logo-line {
  fill: whiteColor;
}

.logo a {
  display: block;
  padding: 20px;
}

.center-container {
}

.list {
  display: flex;
  height: 100%;
}

.n-live {
}

.n-live a {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 20px;
}

.img-default img,
.img-hover img {
  height: 33px;
}

.img-default {
}

.gnb:hover .img-default {
  display: none;
}

.img-hover {
  display: none;
}

.gnb:hover .img-hover {
  display: block;
}

.right-container {
  padding-right: 20px;
}

.util {
  display: flex;
  height: 100%;
  color: whiteColor;
}
