@value tabletSize from '../../common/size.css';

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 155;
  transition: transform 120ms ease-in-out;
}

.unfixed {
  transform: translateY(-126px);
}

.unfixed.hide-unb {
  transform: translateY(-45px);
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media screen and (max-width: tabletSize) {
  .unfixed {
    transform: translateY(-80px);
  }

  .unfixed.hide-unb {
    transform: translateY(0);
  }
}
