@value whiteColor, redColor from '../../common/colors.css';
@value tabletSize, mobileSize from '../../common/size.css';

.management {
  padding-top: 70px;
}

.management .content {
  height: 900px;
  margin-top: -38px;
  margin-bottom: 40px;
  background: center / cover no-repeat url("../../assets/img/main/management/management.png");
}

.management-list {
  display: flex;
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 280px;
}

.management-list-item {
  padding: 0 22px;
  color: whiteColor;
  text-align: center;
}

.management-list .subject {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 190px;
  height: 190px;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 50%;
  font-size: 26px;
  font-weight: 600;
  line-height: 1.4;
  word-break: keep-all;
  background-color: rgba(0, 0, 0, 0.6);
}

.management-list .info {
  position: relative;
  margin-top: 29px;
  padding-top: 27px;
  font-size: 1.375rem;
  line-height: 1.6;
  letter-spacing: -0.25px;
  word-break: keep-all;
}

.management-list .info::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: redColor;
}

@media screen and (max-width: tabletSize) {
  .management {
    padding-top: 55px;
  }
  .management .content {
    max-width: 720px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .management-list {
    flex-direction: column;
    height: 100%;
    padding: 65px 0 45px;
  }

  .management-list .subject {
    width: 105px;
    height: 105px;
    font-size: 17px;
  }
  .management-list .info {
    width: 250px;
    margin: 0 auto;
    margin-top: 20px;
    padding-top: 13px;
    font-size: 15px;
  }

  .management-list .info::before {
    left: 7.5px;
    width: 235px;
  }

  .management-list-item:not(:first-child) {
    margin-top: 15px;
  }
}

@media screen and (max-width: mobileSize) {
  .management .content {
    max-width: 540px;
  }
}
