@value whiteColor,blackColor, redColor from '../../common/colors.css';
@value tabletSize from '../../common/size.css';

.util-item {
  position: relative;
}

.util-item > a {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 20px 10px;
  font-size: 1.2rem;
  cursor: pointer;
}

.util-item > a > span {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
}

.util-item > a > span::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: redColor;
  transform: translateX(-50%);
  transition: width 0.3s linear;
}

.util-item > a:hover > span::after {
  width: 100%;
}

.util-subMenu {
  position: absolute;
  right: 5px;
  top: 78px;
  padding-top: 10px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease-in-out, visibility 0s 0.2s;
}

.show .util-subMenu {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.util-subMenu::before {
  content: "";
  position: absolute;
  top: 6px;
  right: 10px;
  border: 5px solid transparent;
  border-bottom-color: whiteColor;
  border-right-color: whiteColor;
  transform: rotate(-135deg);
}

.util-subMenu ul {
  display: flex;
  flex-direction: column;
  width: max-content;
  padding: 26px 35px;
  background-color: whiteColor;
}

.util-subMenu a > span {
  position: relative;
  display: block;
  width: fit-content;
  padding: 9px 0;
  font-size: 13px;
  color: blackColor;
}

.util-subMenu a > span::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0.5px;
  background-color: redColor;
  transition: 0.2s linear;
}

.util-subMenu a:hover > span::after {
  width: 100%;
}

@media screen and (max-width: tabletSize) {
  .util-item:last-child {
    display: none;
  }

  .util-item a {
    padding-top: 17px;
    padding-bottom: 17px;
  }

  .util-item > a > span::after {
    bottom: -7px;
  }

  .util-subMenu {
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out, visibility 0s 0.2s;
  }

  .show .util-subMenu {
    visibility: visible;
    opacity: 1;
    transform: translateY(-20px);
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  }
}
