@value whiteColor, lightGreyColor, greyColor, blackColor, greenColor, orangeColor from '../../common/colors.css';

.footer {
  position: relative;
  background-color: whiteColor;
  max-width: 1280px;
  height: 280px;
  margin: 0 auto;
}

.container {
  display: flex;
  height: 100%;
  padding: 40px;
}

.family-site {
  position: absolute;
  top: 25px;
  right: 40px;
}

.family-link {
  position: relative;
  width: 240px;
  height: 46px;
  padding: 11px 60px 10px 22px;
  border: 2px solid lightGreyColor;
  border-radius: 23px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.4;
  text-align: left;
  color: greyColor;
  cursor: pointer;
}

.family-link::after {
  content: "";
  position: absolute;
  right: 25px;
  top: 50%;
  display: block;
  width: 0;
  height: 0;
  border-width: 5px 5px 0 5px;
  border-style: solid;
  border-color: blackColor transparent transparent transparent;
  transition: transform 180ms ease-in-out;
}

.content-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 70%;
  height: 100%;
}

.links {
  max-width: 500px;
  margin: 0 auto 0 0;
}

.links > ul {
  display: flex;
  flex-wrap: wrap;
}

.links > ul > li {
  position: relative;
  padding: 0 15px;
  font-size: 15px;
  line-height: 1.6;
}

.links > ul > li:nth-child(n + 6) {
  margin-top: 15px;
}

.links > ul > li:not(:nth-child(1)):not(:nth-child(6))::before {
  content: "";
  position: absolute;
  display: block;
  top: 4px;
  left: 0;
  width: 0;
  height: 12px;
  border-left: 1px solid #ddd;
}

.green {
  font-weight: 600;
  color: greenColor;
}

.orange {
  font-weight: 600;
  color: orangeColor;
}

.info {
}

.info > ul {
  display: flex;
  flex-wrap: wrap;
}

.info > ul > li {
  position: relative;
  padding: 0 15px;
  font-size: 14px;
  line-height: 1.8;
  color: greyColor;
}

.info > ul > li:first-child {
  font-weight: 600;
}

.info > ul > li:not(:nth-child(1)):not(:nth-child(5))::before {
  content: "";
  position: absolute;
  display: block;
  top: 4px;
  left: 0;
  width: 0;
  height: 12px;
  border-left: 1px solid #ddd;
}

.copyright {
  padding: 0 15px;
  font-size: 14px;
  line-height: 1.6;
  text-transform: uppercase;
  color: greyColor;
}

.content-right {
  flex-basis: 30%;
  padding-top: 55px;
}

.social {
  display: flex;
  flex-direction: column;
  max-width: 225px;
  margin: 0 0 0 auto;
}

.social > ul {
  display: flex;
  justify-content: space-between;
}

.webmark {
  display: flex;
  justify-content: flex-end;
  margin-top: 13px;
}

.webmark > a {
  width: 52px;
}

.webmark > a > img {
  width: 100%;
  height: 100%;
}
