.home {
  width: 100%;
  height: 100vh;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
}

.swiper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  overflow: hidden;
}

.swiper-paginagtion {
  position: absolute;
}
