@value whiteColor,charcolColor, lightGreenColor, greyColor, redColor from '../../common/colors.css';
@value tabletSize from '../../common/size.css';
.news {
  position: relative;
  padding-top: 105px;
}

.button-quick {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50px;
  height: 50px;
  margin-top: -25px;
  margin-right: -25px;
  color: whiteColor;
  background-color: lightGreenColor;
  box-shadow: 1px 1px 4px rgb(0 0 0 / 20%);
  transform: translateX(-50%);
  cursor: pointer;
}

.news .swiper-container {
  margin-top: 40px;
  padding-bottom: 30px;
}

.news .swiper-slide {
  width: 458px;
  margin-right: 60px;
}

.news .swiper-slide:nth-child(2n) > .news-item {
  margin-top: 90px;
}

.news-item {
  margin-top: 25px;
}

.news-item img {
  display: block;
  width: 100%;
  height: 302px;
  object-fit: cover;
  object-position: center;
}

.news-item figcaption {
  position: relative;
  padding: 23px 39px 34px;
}

.news-title {
  font-size: 1.375rem;
  line-height: 1.6;
  word-break: keep-all;
}

.news-date {
  display: block;
  margin-top: 11px;
  font-size: 14px;
  line-height: 1.4;
  color: greyColor;
}

.more {
  position: absolute;
  bottom: 34px;
  right: 30px;
  padding-right: 50px;
  font-size: 14px;
  line-height: 1.4;
  color: greyColor;
  opacity: 0;
  transition: opacity 80ms ease-in-out;
}

.news-item:hover .more {
  opacity: 1;
}

.more span {
  position: relative;
}

.more span::before,
.more span::after {
  content: "";
  position: absolute;
  top: 50%;
  display: block;
  background-color: redColor;
}

.more span::before {
  right: -38px;
  width: 30px;
  height: 2px;
}

.more span::after {
  right: -40px;
  top: 11px;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  transform: translateY(-50%);
}

@media screen and (max-width: tabletSize) {
  .news {
    padding-top: 70px;
  }

  .news .swiper-container {
    margin-top: 28px;
    padding-bottom: 20px;
  }

  .news .swiper-slide:nth-child(2n) > .news-item {
    margin-top: 0px;
  }

  .news-item {
    margin-top: 0;
  }

  .news .swiper-slide {
    width: 250px;
    margin-right: 22px;
  }

  .news-item img {
    height: 165px;
  }

  .news-item figcaption {
    padding: 12px 13px 14px;
  }

  .news-title {
    height: 44px;
  }

  .news-date {
    font-size: 12px;
    line-height: 1.4;
  }

  .more {
    bottom: 17px;
    right: 0;
    font-size: 14px;
    line-height: 1.4;
    color: charcolColor;
    opacity: 1;
  }
}
