@value redColor, greyColor, lightGreyColor, greyColor from '../../common/colors.css';
@value tabletSize, mobileSize from '../../common/size.css';

.map {
  padding-top: 70px;
  padding-bottom: 80px;
}

.map .content {
  display: flex;
  max-width: 1200px;
  height: 420px;
  margin: 110px auto 90px;
  padding: 0 1rem;
}

.map-tab {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
}

.map-tab::before {
  content: "";
  position: absolute;
  left: 0;
  width: 1px;
  height: 100%;
  background-color: lightGreyColor;
}

.map-scroll {
  position: absolute;
  top: 59px;
  left: -2px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: redColor;
  transition: transform 200ms ease-in-out;
}

.map-scroll_m {
  position: absolute;
  top: -2px;
  left: 56px;
  display: none;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: redColor;
  transition: transform 200ms ease-in-out;
}

.map-category {
  display: flex;
  flex-direction: column;
  margin-left: 36px;
}

.map-category li:not(:first-child) {
  margin-top: 20px;
}
.map-category span {
  display: block;
  width: max-content;
  padding: 9px 10px;
  font-weight: 600;
  color: greyColor;
  letter-spacing: 0.03rem;
  line-height: 1.375;
  text-transform: uppercase;
  transition: color 200ms ease-in-out;
  cursor: pointer;
}

.map-category span:hover {
  color: redColor;
}

.map-category .active span {
  color: redColor;
}

.map-content {
  display: flex;
  width: 100%;
  height: 100%;
  z-index: 5;
}

.map-pin {
  display: flex;
  align-items: center;
  width: 100%;
}

.pin-item {
  display: none;
  width: 100%;
}

.active.pin-item {
  display: flex;
}

.pin-wrap {
  position: relative;
  flex-basis: 70%;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.pin-wrap::after {
  content: "";
  position: absolute;
  left: 3%;
  top: -17%;
  width: 100%;
  height: 408px;
  background: center / contain no-repeat url("../../assets/img/main/map/map.png");
  z-index: -1;
}

.pin {
  position: absolute;
  display: block;
  width: 30px;
  height: 38px;
  background: center / cover no-repeat url("../../assets/img/main/map/map_pin.png");
}

.china .pin {
  top: 13%;
  left: 38%;
}

.us .pin {
  top: 29%;
  left: 84%;
}

.japan .pin {
  top: 30%;
  left: 48%;
}

.australia .pin {
  top: 77%;
  left: 46%;
}

.vietnam .pin {
  top: 44%;
  left: 37%;
}

.canada .pin {
  top: 5%;
  left: 77%;
}

.pin-content {
  position: absolute;
  padding-top: 13px;
  word-break: keep-all;
}

.china .pin-content {
  top: 27%;
  left: 10%;
}

.us .pin-content {
  top: 23%;
  left: 20%;
}

.japan .pin-content {
  top: 40%;
  left: 20%;
}

.australia .pin-content {
  top: 14%;
  left: 15%;
}

.vietnam .pin-content {
  top: 58%;
  left: 11%;
}

.canada .pin-content {
  top: 17%;
  left: 10%;
}

.pin-content dt {
  font-size: 2.1vw;
  font-weight: 600;
  line-height: 1.2;
}

.pin-content dd {
  margin-top: 17px;
  font-size: 1.4vw;
  color: greyColor;
  line-height: 1.6;
}

.issue {
  flex-basis: 30%;
}

.issue img {
  border-radius: 8px;
}

.issue figcaption {
  padding-top: 26px;
  font-size: 18px;
  line-height: 1.3;
}

.issue .enter {
  display: block;
  padding-top: 3px;
}
.issue figcaption strong {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
}

@media screen and (max-width: tabletSize) {
  .map {
    padding-top: 60px;
    padding-bottom: 75px;
  }

  .map .content {
    display: flex;
    flex-direction: column;
    max-width: 720px;
    height: auto;
    margin: 26px auto 40px;
    padding: 0 1rem;
  }

  .map-tab {
    position: relative;
    height: auto;
  }

  .map-tab::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: lightGreyColor;
  }

  .map-scroll_m {
    display: block;
  }
  .map-scroll {
    display: none;
  }

  .map-content {
    margin-top: 20px;
  }

  .map-category {
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    margin-left: 0px;
    padding: 0 20px;
  }

  .map-category > li {
    font-size: 18px;
  }

  .map-category li:not(:first-child) {
    margin-top: 0px;
  }

  .active.pin-item {
    flex-direction: column;
  }

  .pin-wrap::after {
    position: static;
    left: 0;
    top: 0;
    height: 300px;
  }
  .pin-content {
    position: static;
    width: 80%;
    margin: 0 auto;
    padding-top: 13px;
    text-align: center;
    word-break: keep-all;
    order: 2;
  }

  .pin-content dt {
    font-size: 30px;
  }

  .pin-content dd {
    margin-top: 17px;
    font-size: 16px;
  }

  .china .pin {
    top: 23%;
    left: 38%;
  }

  .us .pin {
    top: 25%;
    left: 72%;
  }

  .japan .pin {
    top: 23%;
    left: 46%;
  }

  .australia .pin {
    top: 48%;
    left: 44%;
  }

  .vietnam .pin {
    top: 32%;
    left: 38%;
  }

  .canada .pin {
    top: 12%;
    left: 67%;
  }
  .issue {
    display: flex;
    max-width: 80%;
    margin: 20px auto 0;
  }

  .issue img {
    width: 200px;
  }

  .issue figcaption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
  }
}

@media screen and (max-width: mobileSize) {
  .map .content {
    max-width: 450px;
  }

  .map-category {
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    margin-left: 0px;
    padding: 0;
  }

  .map-category > li {
    font-size: 2.5vw;
  }

  .map-category > li > span {
    padding: 5px;
  }

  .map-scroll_m {
    left: 22px;
  }

  .pin-content {
    width: 85%;
  }

  .china .pin {
    top: 24%;
    left: 33%;
  }

  .us .pin {
    top: 22%;
    left: 78%;
  }

  .japan .pin {
    top: 20%;
    left: 44%;
  }

  .australia .pin {
    top: 34%;
    left: 42%;
  }

  .vietnam .pin {
    top: 26%;
    left: 33%;
  }

  .canada .pin {
    top: 11%;
    left: 70%;
  }

  .issue {
    max-width: 90%;
  }

  .issue img {
    width: 150px;
    height: 150px;
  }

  .issue figcaption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 14px;
    padding: 10px;
  }
  .issue figcaption strong {
    font-size: 16px;
  }
}
