.swiper-item {
}

.background-1 {
  background-image: url("../../assets/img/main/home_1.png");
}

.background-2 {
  background-image: url("../../assets/img/main/home_2.png");
}

.background-3 {
  background-image: url("../../assets/img/main/home_3.png");
}

.background-4 {
  background-image: url("../../assets/img/main/home_4.png");
}

.background-5 {
  background-image: url("../../assets/img/main/home_5.png");
}

.content {
}
