@value whiteColor from '../../common/colors.css';

.swiper-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.background-0 {
  background: center / cover no-repeat url("../../assets/img/main/home_1.png");
}

.background-1 {
  background: center / cover no-repeat url("../../assets/img/main/home_2.png");
}

.background-2 {
  background: center / cover no-repeat url("../../assets/img/main/home_3.png");
}

.background-3 {
  background: center / cover no-repeat url("../../assets/img/main/home_4.png");
}

.background-4 {
  background: center / cover no-repeat url("../../assets/img/main/home_5.jpg");
}

.content {
  position: absolute;
  max-width: 545px;
  margin: 0 auto;
  font-weight: 600;
  color: whiteColor;
  word-break: keep-all;
}

.content h2 {
  font-size: 4.75rem;
}

.content p {
  font-size: 1.875rem;
}
